 body { font-size:14pt;
	font-family: Helvetica, Geneva, Arial, sans-serif;
	color: white ;
	background-color: black;
	width: auto;
	height: 70vh;
} 

 h1 { 	font-size:24px;
	font-family: Helvetica, Geneva, Arial, sans-serif;
	color:  #FF8000} 

 ul {	list-style-type: circle;}

 img{
	width: auto;
	height: 70vh;
 }
